# SERVER
PORT=3000

# CLIENT
CLIENT_URL=http://localhost:4200

# ASSETS
ASSETS_URL=https://example.storage.com/storage/example-static

# MAIL
MAIL_FROM=noreply@gradelib.local

# DATABASE
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=db_name

# PGADMIN
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

# MAILPIT
MAILPIT_HOST=localhost
MAILPIT_SMTP_PORT=1025
MAILPIT_WEB_PORT=8025
